@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .rotate-y-360 {
      transform: rotateY(360deg);
    }
  }
  @keyframes throwAnimation {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(var(--x-0), var(--y-0));
      opacity: 1;
    }
  }
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-zoom {
    animation: zoom 1s infinite;
  }
  @keyframes translate-animation {
    0% { transform: translate(0, 0); }
    100% { transform: translate(var(--x, 0), var(--y, 0)); }
  }
  
  @keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-in {
    animation: slide-in 0.5s ease-out;
}

.rotate-y-360 {
  transform: rotateY(360deg);
}

.backface-hidden {
  backface-visibility: hidden;
}


@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-effect {
  animation: zoomInOut 0.1s ease-in-out;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add to global CSS */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}


